ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.gallery {
  max-width: 1128px;
  gap: 24px;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 360px;
  height: 200px;
}
